In [11]:
import pandas as pd
import sqlalchemy

In [2]:
dad_one = 'Dad_1.csv'
dad_two = 'Dad_2.csv'
dad_three = 'Dad_3.csv'
dad_four = 'Dad_4.csv'

In [3]:
df_dad_one = pd.read_csv(dad_one)
df_dad_two = pd.read_csv(dad_two)
df_dad_three = pd.read_csv(dad_three)
df_dad_four = pd.read_csv(dad_four)

C:\Users\adamz\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_dad = pd.concat([df_dad_one,df_dad_two,df_dad_three,df_dad_four],ignore_index=True)
df_dad = df_dad.drop(columns = 'Unnamed: 0')

In [5]:
df_dad.head()

   index Father's Age Race ID  Education ID
0      0           35       1           4.0
1      1      Unknown      99           9.0
2      2           22       1           3.0
3      3      Unknown      99           9.0
4      4           25       1           4.0

In [6]:
df_dad.to_csv('Dad_df.csv',index=False)

In [7]:
# SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [8]:
#class Father(Base):
#    __tablename__ = 'Father'
#    index = Column(Integer, primary_key=True)
#    age = Column(String(255))
#    race_id = Column(String(255))
#    education_id = Column(Integer)

In [12]:
# Create Engine and Pass in MySQL Connection
server = 'cwru-data-project02.ciuevunbeloh.us-east-2.rds.amazonaws.com:3306'
db = 'group03?local_infile=1'
login = 'group03'
password = 'hZ74m82AKpWrCQuh'
engine_str = 'mysql://{}:{}@{}/{}'.format(login,password,server,db)
engine = sqlalchemy.create_engine(engine_str,echo=False,encoding='utf-8')
connection = engine.connect()
#create_engine("mysql+pymysql://<username>:<password>@<host>/<dbname>")

In [13]:
result = connection.execute("LOAD DATA LOCAL INFILE 'Dad_df.csv' INTO TABLE father FIELDS TERMINATED BY ',' IGNORE 1 ROWS;")
result