In [1]:
import pandas as pd

In [2]:
dad_one = 'Dad_1.csv'
dad_two = 'Dad_2.csv'
dad_three = 'Dad_3.csv'
dad_four = 'Dad_4.csv'

In [3]:
df_dad_one = pd.read_csv(dad_one)
df_dad_two = pd.read_csv(dad_two)
df_dad_three = pd.read_csv(dad_three)
df_dad_four = pd.read_csv(dad_four)

C:\Users\adamz\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_dad = pd.concat([df_dad_one,df_dad_two,df_dad_three,df_dad_four],ignore_index=True)
df_dad = df_dad.drop(columns = 'Unnamed: 0')

In [5]:
df_dad

           index Father's Age Race ID  Education ID
0              0           35       1           4.0
1              1      Unknown      99           9.0
2              2           22       1           3.0
3              3      Unknown      99           9.0
4              4           25       1           4.0
5              5           24       2           4.0
6              6           51       4           5.0
7              7           29       4           4.0
8              8           38       1           4.0
9              9           30       1           4.0
10            10           39       1           3.0
11            11           44       1           4.0
12            12           38       1           4.0
13            13           25       1           2.0
14            14           22       1           3.0
15            15           31       1           5.0
16            16           20       3           3.0
17            17           30       5           3.0
18            18      Unknown      99           9.0
19            19           31       1           4.0
20            20           48       4           9.0
21            21           21       1           4.0
22            22           25       2           3.0
23            23           28       6           5.0
24            24           35      99           4.0
25            25           34       1           4.0
26            26           25       4           2.0
27            27           31       1           6.0
28            28           34       1           7.0
29            29           24       1           3.0
...          ...          ...     ...           ...
3998145  3998145           26       1           6.0
3998146  3998146           24      99           2.0
3998147  3998147           49       1           4.0
3998148  3998148           35       2           3.0
3998149  3998149           22       1           2.0
3998150  3998150           21       2           3.0
3998151  3998151           25       1           3.0
3998152  3998152           35       2           3.0
3998153  3998153           22       2           3.0
3998154  3998154           27       1           3.0
3998155  3998155           25       2           4.0
3998156  3998156           37       1           7.0
3998157  3998157           41       1           1.0
3998158  3998158           33      99           1.0
3998159  3998159           26      99           3.0
3998160  3998160           51       1           3.0
3998161  3998161      Unknown      99           9.0
3998162  3998162           37       1           7.0
3998163  3998163           32       1           4.0
3998164  3998164      Unknown      99           9.0
3998165  3998165           18       2           2.0
3998166  3998166           32       1           1.0
3998167  3998167           23       2           3.0
3998168  3998168           32      99           4.0
3998169  3998169           32      99           9.0
3998170  3998170           46       1           3.0
3998171  3998171      Unknown      99           9.0
3998172  3998172      Unknown      99           9.0
3998173  3998173           35       1           3.0
3998174  3998174           43      99           9.0

[3998175 rows x 4 columns]